{% extends "base.html" %}

{% block contents %}
<!doctype html>
<html lang="en">
  <head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="../static/profstyle.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  </head>

  <style>
    form {
        display: inline-block;
    }
  </style>
  
  <body>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css">
            <div style="padding-top:50px;"> </div>
            <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="media">
                            <div align="center">
                                <img class="thumbnail img-responsive" src="{{picURL}}" width="200px" height="200px">
                            </div>
                            <div class="media-body">
                              <!-- INSERT CURRENT WEATHER CONTENT HERE -->
			      {{temp}}°F
			      <div class="media-body">
				<!-- INSERT CURRENT WEATHER CONTENT HERE -->
				{{message}}
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <span>
                          <h1 class="panel-title pull-left" style="font-size:30px;">{{current_user.username}}</h1>
                        </span>
                    </div>
		    <div class="panel-body">
			<span>
			  <h2 class="panel-title pull-left" style="font-size:20px;">Add Friend by Username: </h2>			  
			  <form action="/addfriendbyusername" method="POST">
			    <input type="text" name="friendUsername">
			    <button type="submit" class="btn btn-primary">Add Friend</button>
			  </form>
			</span>
		    </div>
                </div>
                <hr>
                {% for info in userPlaylists %}
                <!-- Simple post content example. -->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="pull-left">
                            <a href="#">
                                <img class="media-object img-circle" src="{{info['keywordURL']}}" width="50px" height="50px" style="margin-right:8px; margin-top:-5px;">
                            </a>
                        </div>
                        <div class="post-content">
                            <p style="font-weight: bold;">{{info['keyword']}}</p>
			     Number of Songs: {{info['length']}} pid: {{info['p_id']}}
			    <p>
			    <form method="post" action="/viewplaylist">
                              <input type="hidden" name="p_id" value="{{info['p_id']}}">
			      <input type="hidden" name="keyword" value="{{info['keyword']}}">
                                    <button type="submit" class="btn btn-primary">View</button>
				    
                                </form>
				<form method="post" action="/deleteplaylist">
                                    <input type="hidden" name="p_id" value="{{info['p_id']}}">
                                    <button type="submit" class="btn btn-primary">Delete</button>
                                </form>
			    </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>       
  </body>
</html>

{% endblock %}
