{% extends "base.html" %}

{% block contents %}
<div class="container">
  <div>
    <h1><span class="fas fa-camera-retro"></span> CAMRA </h1>
  </div>
</div>

{% for song in songs %} 
<div class="container"> 
  <h3>{{song.name}} by {{song.artist}}</h3><br> 
  <audio controls="controls" id="audio_player"> 
    <source src="{{song.url}}" type="audio/mpeg"/> 
    Your browser does not support the audio element. 
  </audio> 
</div> 
{% endfor %}

<div class="container">
  <form method="post" action="/export">
    <div class="form-group form-check-inline"> 
      Spotify Username: <input class="text" required= "required" name = "sUsername">
      Desired Playlist Name: <input class="text" required="required" name="pName">
      <input class="hidden" name="p_id" value="{{p_id}}">
    </div>
    <button type="submit" class="btn btn-primary">Export to Spotify</button>
  </form>
  <form method="post" action="/deletesongs">
    <input type="hidden" name="p_id" value="{{p_id}}">
    <button type="submit" class="btn btn-primary">Delete Songs</button> 
  </form>
  <form method="post" action="/addsongs">
    <input type="hidden" name="p_id" value="{{p_id}}">
    <input type="hidden" name="keyword" value="{{keyword}}">
    <button type="submit" class="btn btn-primary">Add Song</button>
  </form>
</div>
{% endblock %}
